*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;  
}

nav{   
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    background-color: black;
    border-bottom: 0.1vh solid white;
}

nav a{
    text-decoration: none;
}

nav h1{
    font-size: 3vw;
}

.content{
    height:100%;
    width: 100%;
    display: flex;
    padding: 18vw 10vw;
    font-size: 1.6vw;
}

.left{
    height: 100%;
    width: 50%;
}

.right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img, .about_left img{
    width: 25vw;
    border-radius: 50%;
}

.content .icons i{
    margin-right: 1vw;
    font-size: 2vw;
}

.contact_left .icons i{
    margin-right: 1vw;
}

#about{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 5vw;
    font-size: 2.8vh;
}

#about .about_left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#about .about_right{
    width: 50%;
    text-align: justify;
}

.about_right h1, #service_block h1{
    font-size: 4vw;
}

#service_block{
    padding: 5vw;
    height: 60%;
    width: 100%;
    text-align: justify;
}

#service_block h1{
    text-align: center;
}

#service{
    display: flex;
    justify-content: space-evenly;
}

#service .service1, .service2, .service3{
    height: 32vh;
    width: 22vw;
    background-color: #262626;
    border-radius: 0.5vw;
    padding: 5vh;
}

#service .service1:hover, .service2:hover, .service3:hover{
    background-color: #EA214D;
}

#contact_block{
    padding: 10vw;
    height: 100%;
    display: flex;
}


#contact_block .contact_left{
    width: 40%;
    font-size: 2vw;
    line-height: 8vh;
}

#contact_block .contact_right{
    width: 60%;
}

#contact_block .contact_right input{
    width: 40vw;
    height: 5vh;
    display: flex;
    margin-bottom: 4vh;
    background-color: #262626;
    border-radius: 0.3vh;
    border: none;
    padding-left: 1vh;
}

#contact_block .contact_right textarea{
    width: 40vw;
    display: flex;
    margin-bottom: 4vh;
    padding: 1vh;
    border: none;
    border-radius: 0.3vh;
    background-color: #262626;
}

#contact_block .contact_right .submit, #contact_block .contact_left .submit{
    width: 8vw;
    height: 6vh;
    font-size: 1vw;
    background-color: #EA214D;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.3vh;
}

.footer{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}


@media (max-width:600px){
    nav{
        color:black;
    }
    nav h1{
        font-size: 5vw;
    }
    nav img{
        width: 200vw;
        height: 8vh;
    }
    nav a{
        font-size: 3vw;
        text-decoration: none;
    }
    .content{
        display: block;
    }
    .content .left{
        width: 100%;
        height: 50%;
        font-size: 4vw;
    }

    .content .right{
        height: 50%;
        width: 100%;
    }

    .right img{
        width: 70vw;
        border-radius: 50%;
    }

    .content .icons i{
        margin-right: 3vw;
        font-size: 5.5vw;
    }
    
    .contact_left .icons i{
        margin-right: 3vw;
        font-size: 5.5vw;
    }
    

    #about{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 30vw;
    }

    .about_left img{
        width: 60vw;
        border-radius: 50%;
    }
    
    #about .about_left{
        height: 30%;
        width: 100%;
        margin-bottom: 10vw;
    }

    #about .about_right{
        height: 70%;
        width: 100%;
        font-size: 3.1vw;
        text-align: justify;
    }

    .about_right h1, #service_block h1{
        font-size:7vw;
    }

    #service_block{
        padding: 10vw;
        padding-top: 20vw;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    
    #service{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    #service .service1, .service2, .service3{
        width: 80%;
        height: 100%;
        padding: 3vh;
        margin-bottom: 5%;
        text-align: justify;
        font-size: 3vw;
    }

    #contact_block{
        padding: 10vw;
        height: 50%;
    }
    
    
    #contact_block .contact_left{
        width: 50%;
        font-size: 2.5vw;
        line-height: 6vw;
    }
    
    #contact_block .contact_right{
        width: 50%;
    }

    #contact_block .contact_right input{
        margin-bottom: 1vh;
    }
    
    #contact_block .contact_right textarea{
        margin-bottom: 1vh;
        height: 12vh;
        padding: 1vh;
    }
    
    #contact_block .contact_right .submit, #contact_block .contact_left .submit{
        width: 18vw;
        height: 4vh;
        font-size: 2.5vw;
        margin-top: 2.5vh;
    }
    
}


